@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:400i,500i,600i,700i&subset=latin-ext');
@import url('/dropdown.css');

#page-wrap {
     width: 75%;
     margin: 1 auto;
     background-color: #f0f0f0
}

p, h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', sans-serif;color: white;}
i {font-family: 'Raleway', sans-serif;font-style: italic;color: white;}
body {background-image: url("img/bg2.jpg");background-attachment: fixed;}
